@font-face {
    font-family:"Roboto", "Helvetica", "Verdana", "Roboto-Ruble", sans-serif !important;
    src: url('../font/Roboto-Black.ttf');
    src: url('../font/Roboto-BlackItalic.ttf') format('ttf'),
    url('../font/Roboto-Bold.ttf') format('ttf'),
    url('../font/Roboto-BoldItalic.ttf') format('ttf'),
    url('../font/Roboto-Italic.ttf') format('ttf'),
    url('../font/Roboto-Light.ttf') format('ttf'),
    url('../font/Roboto-LightItalic.ttf') format('ttf'),
    url('../font/Roboto-Medium.ttf') format('ttf'),
    url('../font/Roboto-MediumItalic.ttf') format('ttf'),
    url('../font/Roboto-Regular.ttf') format('ttf'),
    url('../font/Roboto-Thin.ttf') format('ttf'),
    url('../font/Roboto-ThinItalic.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: "Roboto", "Helvetica", "Verdana", "Roboto-Ruble", sans-serif;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 26px;
}
@import './block/variables';
@import './block/header';
@import './block/button';
@import './block/main-section';
@import './block/footer';
@import './block/modal';