header {
    background-image: url("/../img/background-color.jpg");
    background: no-repeat center top;
    background-size: cover;
}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.page-header-line {
    height: 50px;
}

.page-header-logo {
    text-align: center;
    order: 2;
}

.main-nav {
    order: 1;
    max-width: 320px;
}

.main-nav-list, .social-contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0 20px;
    margin: 0 auto;
}

.main-nav-item {
    text-transform: uppercase;
    margin: 0;
}

.main-nav-text {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.social-contacts {
    order: 4;
}

.social-contacts-list {
    justify-content: center;
    padding: 0;
    min-width: 120px;
}

.text-block {
    display: flex;
    flex-direction: column;
    order: 3;
    font-family: "Playfair Display", "Helvetica", "Verdana", "Roboto-Ruble", sans-serif;
    font-style: italic;
    max-width: 320px;
    line-height: 1;
    text-shadow: 2px 2px 3px #000;
}

.text-block-contact {
    display: flex;
    justify-content: center;
    font-family: "Roboto", "Helvetica", "Verdana", "Roboto-Ruble", sans-serif;
    font-style: italic;
    text-decoration: underline;
}

.text-block-contact p {
    padding-left: 5px;
}

@media (min-width: $tablet-width) {
    .page-header {
        flex-direction: row;
        flex-wrap: wrap;
        background-image: none;
    }

    .page-header-logo {
        order: 0;
    }

    .page-header-logo img {
        width: 100px;
    }

    .text-block {
        order: 4;
        font-size: x-large;
        margin: 50px auto;
    }

    .main-nav, .text-block {
        min-width: 535px;
    }

    .social-contacts-item img {
        width: 30px;
        height: 30px;

        &:hover,
        &:focus {
            width: 32px;
            height: 32px;
        }
    }
}

@media (min-width: $desktop-width) {
    .main-nav, .text-block {
        min-width: 980px;
    }

    .main-nav-item {
        padding: 0 5px;
    }

    .main-nav-item::after {
        display: block;
        position: relative;
        left: 0;
        width: 0;
        height: 1px;
        bottom: -5px;
        background-color: #fff;
        opacity: 0.5;
        content: "";
        transition: width 0.3s ease-out;
    }

    .main-nav-item:hover::after,
    .main-nav-item:focus::after{
        width: 100%;
    }
}

